<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="icon" href="https://pbs.twimg.com/profile_images/1267326528884375560/GXC-xTlu_400x400.jpg">

    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="/css/navBar.css">
    <title>Document</title>
    <style>
        i {
    font-size: 15px;
}
/* @import url('https://rsms.me/inter/inter.css');
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
} */

#footer{
    width: 1300px;
    margin-left: -250px;
    margin-top: 300px;
}

        #big{
            height: 600px;
            width: 80%;
            /* background-color: blue; */
           
           
            margin: auto;
            margin-top: 100px;
            border: 1px solid black;
            display: grid;
            grid-template-columns: 65% 30%;
           
            
            
            /* background-image: url("https://th.bing.com/th/id/OIP.0wfNUhoZ9tcNPmt0TZMW3wHaE8?w=302&h=187&c=7&r=0&o=5&pid=1.7");
            
            
            background: linear-gradient(blue); */

            background-image: 
    /* top, transparent red */
    /* linear-gradient(
      rgba(49,86,162,0.993), 
      rgba(49,86,162,0.863)
    ), */
    /* your image */
    url("https://trainings.internshala.com/cached_uploads/python/signup_page_media/banners-new-ds/banner-1920.png");
    background-size: cover;
            
            
        }

        #content.python #banner-section .banner-background {
    background-color: #3158AF;
    background-repeat: no-repeat;
    background-position: top;
    background-image: url(/cached_uploads/python/signup_page_media/banners-new-ds/banner-1920.png);
}
        #left{
            width: 100%;
            height: 500px;
            /* border: 1px solid; */
            padding-left: 50px;
            

        }
        #second{
            width: 75%;
            height: 550px;
            /* border: 1px solid; */
            margin: auto;
            margin-top: 100px;
        }
        #second1{
            width: 100%;
            height: 90%;
            display: grid;
            grid-template-columns: auto auto auto;
            row-gap: 30px;
            column-gap: 20px;
            
        }
        #third{
            width: 60%;
            height: 550px;
            /* border: 1px solid; */
            margin: auto;
            margin-top: 100px;
            display: flex;
        }
        #fourth{
            width: 60%;
            height: 350px;
            /* border: 1px solid; */
            margin: auto;
            margin-top: 100px;
            display: grid;
            grid-template-columns: 50% 50% ;
        }
        #right{
            /* border: 1px solid; */
            width: 100%;

        }
    </style>
</head>
<body>
    <div id="navBar">

    </div>
    <div id="big"  >
   <div id="left">
       <div style="background-color: yellow; display: block; width: 280px; height: 40px; border-radius: 10px; ">
        <p style="margin-left: 15px;margin-top: 15px;padding-top: 12px;vertical-align: 0px;font-size: 20px;text-align: center;">Certified online training</p>

       </div>
       <h1 id="change" style=" margin-top: 10px;font-size: 56px;font-weight: 900; font-style: normal; font-family: Inter var - 900;color: white;">Learn Python</h1>
      
       <p style="font-size: 18px;margin-top: 30px;font-weight: 600; font-style: normal; font-family: Inter var, sans-serif ;color: white;line-height: 24px;vertical-align: 0px;width: 60%;">Master one of the most popular programming languages of the 21s century </p>

       <div style="display: grid;margin-top: 20px; grid-template-columns: 20% 50% 30%; width: 50%; height: 40px;column-gap: 4%;">
           <div style="border: 1px solid;display: flex; align-items: center;column-gap: 5px; height: 35px;border-radius: 30px;background-color: white;"> 
            <i style="color: orange;padding-top: 7px; margin-bottom: 7px;" class="fas fa-star"></i>
            <p style="vertical-align: -10px;line-height: 5px;">4.2</p>
            </div>
           <div style="border: 1px solid; display:flex; align-items: center; column-gap: 5px; height: 35px;border-radius: 30px;background-color: white;">
            <i style="padding-top: 3px;padding-left: 3%; " class="fas fa-user-friends"></i>
            <p style="vertical-align: -10px;font-size: 14px; font-weight: 600; line-height: 5px;text-align: center;">57,432 Students</p>
        </div>
          
           <div style="border: 1px solid;display: flex; align-items: center; column-gap: 5px;height: 35px;border-radius: 30px;background-color: white;">
            <i style="padding-top: 3px;padding-left: 3%;" class="far fa-calendar-minus"></i>
            <p style="vertical-align: -10px;font-size: 14px; font-weight: 600;line-height: 5px;text-align: center;">6 Weeks</p>
        </div>
          
       </div>
       <div style="display: grid; grid-template-columns: 70% 30%; width: 50%; height: 40px;column-gap: 4%;margin-top: 10px;">
        <div style="border: 1px solid;display: flex; align-items: center; height: 35px; width: 210px; border-radius: 30px;background-color: white;"> 
         
         <i style="padding-top: 5px;padding-left: 4%;" class="far fa-handshake"></i>
         <p style="font-size: 14px; margin-left: 10px; font-weight: 600;">Placement Assistance</p>
     </div>
        <div style="border: 1px solid;display: flex;align-items: center; column-gap: 10px;height: 35px; width: 150px; border-radius: 30px;background-color: white;">
         
         <i style="padding-top: 3px;padding-left: 8%;" class="fas fa-volume-up"></i>
         <p style="font-size: 14px;font-weight: 600;">English,हिन्दी</p>
     </div>
       
        
       
    </div>
    <div style="width: 50%;height: 80px;background-color: white;margin-top: 20px;display: flex;column-gap: 3px;border-radius: 10px; align-items: center;">
    <img style="width: 40px;height: 40px;padding-top: 5px; margin-left: 10px;" src="https://trainings.internshala.com/cached_uploads/sale/BOGO/bogo_sale.png" alt="">
    <p id="change13" style="font-size: 14px;color: gray;font-weight: 600; margin-left: 15px;">1+1 Offer: Get Internship & Job Preparation training FREE on purchase of Programming with Python training!</p>
    </div>
   </div>

   <div id="right">
       <div style="width: 300px;  height: 150px;background-color: white;border-radius: 10px;margin-top: 50px;margin-left: 0;padding-left: 20px;">
        <p style="font-size: 18px;font-weight: 600px;line-height: 30px;padding-top: 20px;">Training Price</p>
        <p> <span style="color: orange;font-size: 16px;">₹ </span> <span style="font-size: 16px;">1499</span> 

            <span style="font-size: 14px;"> <span style="text-decoration: line-through;"> ₹ 4499</span>  Flat offer till 24th Jan</span> 
            
            </p>

            <div style="width: 90%;height: 40px;cursor: pointer; margin-top: 15px; background-color: deepskyblue;border-radius: 10px;"><p style="text-align: center;color: white;padding-top: 10px;">Pay now</p></div>
    </div>
   </div>
   
    </div>

   <div id="second" style="border: none;"> 
       <h1 style="text-align: center;margin-bottom: 40px;">Training Highlights</h1>

       <div id="second1">
        <div style="display: flex;">
            <div style="margin: 10px;"><img src="https://trainings.internshala.com/cached_uploads/python/signup_page_media/training_highlight_icons_tmt/learn_from_home.png" alt=""></div>
            <div>
                <h2 style="font-size: 18px; margin-top: 16px; font-weight: 1200;">Learn from home</h2>
                <p style="font-size: 16px; font-weight: 400;"> Stay safe indoors</p>
            </div>
        </div>
        <div style="display: flex;">
            <div style="margin: 10px;"><img src="https://trainings.internshala.com/cached_uploads/python/signup_page_media/training_highlight_icons_tmt/certificate_of_training.png" alt=""></div>
            <div>
                <h2 style="font-size: 18px; margin-top: 20px; font-weight: 1200;">Certificate of Training</h2>
                <p style="font-size: 16px; font-weight: 400;"> From Internshala Trainings</p>
            </div>
        </div>
        <div style="display: flex;">
            <div style="margin: 10px;"><img src="https://trainings.internshala.com/cached_uploads/python/signup_page_media/training_highlight_icons_tmt/placement_assistance.png" alt=""></div>
            <div>
                <h2 style="font-size: 18px;margin-top: 20px; font-weight: 1200px;">Placement assistance</h2>
                <p style="font-size: 16px; font-weight: 100px;"> To build your career</p>
            </div>
        </div>
        <div style="display: flex;">
            <div style="margin: 10px;"><img src="https://trainings.internshala.com/cached_uploads/python/signup_page_media/training_highlight_icons_tmt/video_tutorials.png" alt=""></div>
            <div>
                <h2 style="font-size: 18px;margin-top: 20px; font-weight: 1200px;">57 video tutorials</h2>
                <p style="font-size: 16px; font-weight: 100px;"> Learn anytime, anywhere</p>
            </div>
        </div>
        <div style="display: flex;">
            <div style="margin: 10px;"><img src="https://trainings.internshala.com/cached_uploads/python/signup_page_media/training_highlight_icons_tmt/projects.png" alt=""></div>
            <div>
                <h2 style="font-size: 18px;margin-top: 20px; font-weight: 1200px;">5 assignments & 1 project</h2>
                <p style="font-size: 16px; font-weight: 100px;">For hands-on practice</p>
            </div>
        </div>
        <div style="display: flex;">
            <div style="margin: 10px;"><img src="https://trainings.internshala.com/cached_uploads/python/signup_page_media/training_highlight_icons_tmt/language.png" alt=""></div>
            <div>
                <h2 style="font-size: 18px;margin-top: 20px; font-weight: 1200px;">Learn in English or hindi</h2>
                <p style="font-size: 16px; font-weight: 100px;"> As per your choice</p>
            </div>
        </div>
        <div style="display: flex;">
            <div style="margin: 10px;"><img src="https://trainings.internshala.com/cached_uploads/python/signup_page_media/training_highlight_icons_tmt/doubt_clearing.png" alt=""></div>
            <div>
                <h2 style="font-size: 18px;margin-top: 20px; font-weight: 1200px;">Doubt clearing</h2>
                <p style="font-size: 16px; font-weight: 100px;"> Through Q&A forum</p>
            </div>
        </div>
        <div style="display: flex;">
            <div style="margin: 10px;"><img src="https://trainings.internshala.com/cached_uploads/python/signup_page_media/training_highlight_icons_tmt/beginner_friendly.png" alt=""></div>
            <div>
                <h2 style="font-size: 18px;margin-top: 20px; font-weight: 1200px;">Beginner friendly</h2>
                <p style="font-size: 16px; font-weight: 100px;"> No prior knowledge required</p>
            </div>
        </div>
        <div style="display: flex;">
            <div style="margin: 10px;"><img src="https://trainings.internshala.com/cached_uploads/python/signup_page_media/training_highlight_icons_tmt/weeks.png" alt=""></div>
            <div>
                <h2 style="font-size: 18px;margin-top: 20px; font-weight: 1200px;">6 weeks access</h2>
                <p style="font-size: 16px; font-weight: 100px;"> To the platform</p>
            </div>
        </div>
        <div style="display: flex;">
            <div style="margin: 10px;"><img src="https://trainings.internshala.com/cached_uploads/python/signup_page_media/training_highlight_icons_tmt/downloadable_content.png" alt=""></div>
            <div>
                <h2 style="font-size: 18px;margin-top: 20px; font-weight: 1200px;">Downloadable content</h2>
                <p style="font-size: 16px; font-weight: 100px;"> With lifetime access</p>
            </div>
        </div>
       
       </div>

   </div>
   <div id="third">
    <div style="width: 50%; height: 500px;">
    <h1 id="change1" style="font-family: Inter var, sans-serif;  font-size: 38px; ">Why learn Programming with Python?</h1>
    <p style="font-family: Inter var, sans-serif; font-weight: 600; margin-top: 15px; font-size: 24px;">Versatility</p>
    <p id="change2" style="font-family: Inter var, sans-serif; font-weight: 400px; font-size: 16px;margin-top: 10px;">Machine Learning, AI, Web Development, Hacking, IoT, and more. Python is used everywhere.</p>
   
    
 
    <p style="font-family: Inter var, sans-serif; font-weight: 600; margin-top: 15px; font-size: 24px;">Beginner friendly</p>
    <p id="change3" style="font-family: Inter var, sans-serif; font-weight: 400px; font-size: 16px;margin-top: 10px;">A simple and powerful syntax makes Python one of the easiest languages to learn.</p>

    <p style="font-family: Inter var, sans-serif; font-weight: 600; margin-top: 15px; font-size: 24px;">Be in demand</p>
    <p id="change4" style="font-family: Inter var, sans-serif; font-weight: 400px; font-size: 16px;margin-top: 10px;">Python is the fastest growing language according to Stack Overflow with an average fresher salary of 5 LPA+ according to Glassdoor.</p>
    </div>
    <div style="width: 50%; height: 500px;"> <img style="width: 80%; margin-top: 150px; margin-left: 20%;" src="https://trainings.internshala.com/cached_uploads/python/signup_page_media/illustration-images/why-learn.png" alt=""></div>
   </div>

   <div id="fourth">
       <div style="width: 100%; height: 300px;"> <img style="width: 100%; height: 300px; margin-top: 50px;" src="https://trainings.internshala.com/cached_uploads/signup_common/certificate-background.png" alt=""></div>
       <div style="width: 90%; height: 300px;margin-left: 10%;margin-top: 100px;">
           <h1 style="font-family: Inter var, sans-serif; font-weight: 800; font-size: 36px;">Industry recognized certificate</h1>
           <p  style="font-family: Inter var, sans-serif; font-weight: 400; margin-top: 15px; font-size: 18px;">100,000+ companies use Internshala for hiring every year. So a certificate from Internshala is recognized everywhere.</p>
       </div>
   </div>


   <div id="third">
    <div style="width: 50%; height: 500px;">
    <h1 style="font-family: Inter var, sans-serif; font-weight: 400px; font-size: 38px; ">What placement assistance will you receive?</h1>
    <p style="font-family: Inter var, sans-serif; font-weight: 600;margin-top: 15px; font-size: 24px;">Free Placement Prep Training</p>
    <p style="font-family: Inter var, sans-serif; font-weight: 400; margin-top: 15px; font-size: 16px;">Learn how to build your resume, make great applications, and ace your interviews.</p>
   
    
 
    <p style="font-family: Inter var, sans-serif; font-weight: 600;margin-top: 15px ;font-size: 24px;">Curated internships & jobs</p>
    <p style="font-family: Inter var, sans-serif; font-weight: 400;margin-top: 15px ;font-size: 16px;">Get internships and fresher jobs as per your preference in your inbox.</p>

    <p style="font-family: Inter var, sans-serif; font-weight: 600;margin-top: 15px; font-size: 24px;">Get highlighted on Internshala</p>
    <p style="font-family: Inter var, sans-serif; font-weight: 400;margin-top: 15px ;font-size: 16px;">Top performers will be highlighted in their internship & job applications on Internshala.</p>
    </div>
    <div style="width: 50%; height: 500px;"> <img style="width: 80%; margin-top: 150px; margin-left: 20%;" src="https://trainings.internshala.com/cached_uploads/python/signup_page_media/illustration-images/placement.png" alt=""></div>
   </div>

   <div id="second" style="border: none"> 
    <h1 style="text-align: center;">Training Highlights</h1>

    <div id="second1">
    
         
         <div>
            <div style="margin: 10px;"><img src="https://trainings.internshala.com/static/images/signup_ab/features/icons-l/videos.png" alt=""></div>
             <h3 style="font-family: Inter var, sans-serif;font-weight: 600px; font-size: 24px;">Learn concepts</h3>
             <p style="font-family: Inter var, sans-serif;font-weight: 400px; font-size: 18px;">Go through training videos to learn concepts</p>
      
     </div>
     <div>
        <div style="margin: 10px;"><img src="https://trainings.internshala.com/static/images/signup_ab/features/icons-l/assignments.png" alt=""></div>
        <h3 style="font-family: Inter var, sans-serif;font-weight: 600px; font-size: 24px;">Test yourself</h3>
         <p style="font-family: Inter var, sans-serif;font-weight: 400px; font-size: 18px;">Test your knowledge through quizzes & module tests at regular intervals</p>
  
    </div>
     <div>
        <div style="margin: 10px;"><img src="https://trainings.internshala.com/static/images/signup_ab/features/icons-l/practice.png" alt=""></div>
         <h3 style="font-family: Inter var, sans-serif;font-weight: 600px; font-size: 24px;">Hands-on practice</h3>
         <p style="font-family: Inter var, sans-serif;font-weight: 400px; font-size: 18px;">Work on assignments and project. Use our in-browser IDE for coding practice</p>
  
    </div>
     <div>
        <div style="margin: 10px;"><img src="https://trainings.internshala.com/static/images/signup_ab/features/icons-l/doubt_clearing.png" alt=""></div>
         <h3 style="font-family: Inter var, sans-serif;font-weight: 600px; font-size: 24px;">1:1 doubt solving</h3>
         <p style="font-family: Inter var, sans-serif;font-weight: 400px; font-size: 18px;">Get your doubts solved by experts through Q&A forum within 24 hours</p>
  
    </div>
     <div>
        <div style="margin: 10px;"><img src="https://trainings.internshala.com/static/images/signup_ab/features/icons-l/test.png" alt=""></div>
         <h3 style="font-family: Inter var, sans-serif;font-weight: 600px; font-size: 24px;">Take final exam</h3>
         <p style="font-family: Inter var, sans-serif;font-weight: 400px; font-size: 18px;">Complete your training by taking the final exam</p>
  
    </div>
     <div>
        <div style="margin: 10px;"><img src="https://trainings.internshala.com/static/images/signup_ab/features/icons-l/certificate.png" alt=""></div>
         <h3 style="font-family: Inter var, sans-serif;font-weight: 600px; font-size: 24px;">Get certified</h3>
         <p id="change5" style="font-family: Inter var, sans-serif;font-weight: 400px; font-size: 18px;">Get certified in Python upon successful completion of training</p>
  
    </div>
     
     
           
         </div>
     </div>
    
    </div>

    <h1 style="font-family: Inter var, sans-serif;font-weight: 800px; font-size: 36px; line-height: 48px;text-align: center;margin-top: 100px;">Training syllabus</h1>

    <div style="width: 600px; height: 70px; display: flex;margin: auto; gap: 20px;">
    <div style="display: flex; gap: 10px;">
        <img width="50px" height="60px" src="https://trainings.internshala.com/static/images/signup_ab/features/icons-s/videos.png" alt="">
        <p style="font-family: Inter var, sans-serif;font-weight: 600px; font-size: 18px;margin-top: 15px;">57 video tutorials</p>
    </div>
    <div style="display: flex;">
        <img width="50px" height="60px" src="https://trainings.internshala.com/static/images/signup_ab/features/icons-s/videos.png" alt="">
        <p style="font-family: Inter var, sans-serif;font-weight: 600px; font-size: 18px;margin-top: 15px;">5 assignments</p>
    </div>
    <div style="display: flex;">
        <img width="50px" height="60px" src="https://trainings.internshala.com/static/images/signup_ab/features/icons-s/projects.png" alt="">
        <p style="font-family: Inter var, sans-serif;font-weight: 600px; font-size: 18px;margin-top: 15px;">1 project</p>
    </div>
    
    </div>
  <p style="text-align: center;font-family: Inter var, sans-serif;font-weight: 600px; font-size: 18px;margin-top: 15px; margin-bottom: 20px;">After completing the training, you can also download videos for future reference</p>
  
  <div style="width: 500px;  margin: auto;">
  <div > 
    <div style="border: 1px solid rgb(207, 204, 204);padding-left: 20px;" id="badaDiv">
    <div style="display: flex;justify-content: space-between;margin-top: 0px;">
        <p id="change6" style="margin-top: 10px;">Introduction to Python</p>
        <div class="arrow" id="firstDrop">
            <i style="font-size: 15px;margin-top: 20px;;margin-right: 20px;font-weight: 300px;color: dodgerblue;" class="fas fa-chevron-down" ></i>
        </div>
        
    </div>
    
    
    <div style="display: flex;">
        
        <i style="margin-left: 10px;margin-right: 10px;margin-top: 0px;" class="fas fa-file-alt"></i>
        <p style="margin-top: 0px;"> 4 Topics</p>
    </div>
    
</div>
<div id="newDiv"></div>
<div style="border: 1px solid rgb(207, 204, 204);padding-left: 20px;"id="badaDiv">
    <div style="display: flex;justify-content: space-between;margin-top: 0px;">
        <p id="change7" style="margin-top: 10px;">Using Variables in Python</p>
        
        <div class="arrow" id="firstDrop" >
            <i style="font-size: 15px;margin-top: 20px;;margin-right: 20px;font-weight: 300px;color: dodgerblue;" class="fas fa-chevron-down" ></i>
        </div>
    </div>
    
    <div style="display: flex;">
        
        <i style="margin-left: 10px;margin-right: 10px;margin-top: 0px;" class="fas fa-file-alt"></i>
        <p style="margin-top: 0px;"> 5 Topics</p>
    </div>
    
</div>
<div id="newDiv"></div>
<div style="border: 1px solid rgb(207, 204, 204);padding-left: 20px;">
    <div style="display: flex;justify-content: space-between;margin-top: 0px;">
        <p id="change8" style="margin-top: 10px;">Basics of Programming in Python</p>
        
        <div class="arrow" id="firstDrop" >
            <i style="font-size: 15px;margin-top: 20px;;margin-right: 20px;font-weight: 300px;color: dodgerblue;" class="fas fa-chevron-down" ></i>
        </div>
    </div>
    
    <div style="display: flex;">
        
        <i style="margin-left: 10px;margin-right: 10px;margin-top: 0px;" class="fas fa-file-alt"></i>
        <p style="margin-top: 0px;"> 6 Topics</p>
    </div>
    
</div>
<div id="newDiv"></div>
<div style="border: 1px solid rgb(207, 204, 204);padding-left: 20px;">
    <div style="display: flex;justify-content: space-between;margin-top: 0px;">
        <p style="margin-top: 10px;">Principles of Object-oriented Programming (OOP)</p>
        
        <div class="arrow" id="firstDrop" >
            <i style="font-size: 15px;margin-top: 20px;;margin-right: 20px;font-weight: 300px;color: dodgerblue;" class="fas fa-chevron-down" ></i>
        </div>
    </div>
    
    <div style="display: flex;">
        
        <i style="margin-left: 10px;margin-right: 10px;margin-top: 0px;" class="fas fa-file-alt"></i>
        <p style="margin-top: 0px;"> 4 Topics</p>
    </div>
    
</div>
<div id="newDiv"></div>
<div style="border: 1px solid rgb(207, 204, 204);padding-left: 20px;">
    <div style="display: flex;justify-content: space-between;margin-top: 0px;">
        <p style="margin-top: 10px;">Connecting to SQLite Database</p>
        
        <div class="arrow" id="firstDrop" >
            <i style="font-size: 15px;margin-top: 20px;;margin-right: 20px;font-weight: 300px;color: dodgerblue;" class="fas fa-chevron-down" ></i>
        </div>
    </div>
    
    <div style="display: flex;">
        
        <i style="margin-left: 10px;margin-right: 10px;margin-top: 0px;" class="fas fa-file-alt"></i>
        <p style="margin-top: 0px;"> 3 Topics</p>
    </div>
    
</div>
<div id="newDiv"></div>
  
</div>
</div>

<h1 style="text-align: center; margin-top: 30px;"> What project will you build?</h1>
<div style="width: 400px; height: 200px;border: 1px solid rgb(228, 216, 216); margin: auto; margin-top: 20px;">
<p style="font-size: 18px; text-align:center;font-weight: 600;margin-top: 15px;">Fantasy cricket game</p>
<p id="change9" style="text-align: center;font-family: Inter var, sans-serif; font-size: 18px; color: gray; margin: 20px;">Build the UI using PyQt, write the code in Python using all the concepts taught in the training and create the database for the application using SQLite</p>
</div>
<div style="width: 800px; height: 400px; margin: auto;margin-top: 50px; ">
    <h1 style="text-align: center;">Your Teachers</h1>
    <div style="display: grid;grid-template-columns: 50% 50%;">
    <div>
    <img style="border: 1px solid gray;border-radius: 50%; width: 120px;height: 120px;margin-left: 35%;" src="https://trainings.internshala.com/uploads/python/signup_page_media/teachers_images/malhar_lathkar.png" alt="">
    <div style="width: 300px; height: 200px;border: 1px solid rgb(228, 216, 216); margin: auto;vertical-align: -100px; margin-top: 20px;">
<h3 style="text-align: center;margin-top: 10px;">Malhar Lathkar</h3>
<p style="text-align: center;font-family: Inter var, sans-serif;font-weight: 00px; font-size: 16px;margin-top: 20px;">Subject Matter Expert</p>
<p style="text-align: center;font-family: Inter var, sans-serif;font-weight: 00px; font-size: 16px;color: rgba(128, 128, 128, 0.925);margin-top: 15px;">A published technical author, e-learning content writer and programming technologies trainer with 25+ years of experience.</p>
</div>
    
</div>
<div>
    <img style="border: 1px solid gray;border-radius: 50%; width: 120px;height: 120px;margin-left: 35%;" src="https://trainings.internshala.com/uploads/python/signup_page_media/teachers_images/vasanta_akondy.png" alt="">
    <div style="width: 300px; height: 200px;border: 1px solid rgb(228, 216, 216); margin: auto;vertical-align: -100px;margin-top: 20px;">
<h3 style="text-align: center;margin-top: 10px;">Vasanta Akondy</h3>
<p style="text-align: center;font-family: Inter var, sans-serif;font-weight: 00px; font-size: 16px;margin-top: 20px;">Learning Experience Design Expert</p>
<p style="text-align: center;font-family: Inter var, sans-serif;font-weight: 00px; font-size: 16px;color: rgba(128, 128, 128, 0.925);margin-top: 20px;">27+ years of experience in designing curriculum and developing e-learning content across industries and subjects.</p>
</div>
</div>
</div>
<div style="width: 1000px; height: 150px; margin: auto;margin-top: 50px;margin-left: -10%;">
    <h1 style="text-align: center;">Reviews from students</h1>
    <p style="text-align: center;font-family: Inter var, sans-serif;font-weight: 00px; font-size: 16px;color: rgba(128, 128, 128, 0.925);margin-top: 20px;">AVERAGE RATINGS</p>

 <p style="text-align: center;font-family: Inter var, sans-serif;font-weight: 00px; font-size: 16px;color: rgba(128, 128, 128, 0.925);margin-top: 20px;">4.2 
    <i style="color: orange;" class="fas fa-star"></i>
            <i style="color: orange;" class="fas fa-star"></i>
            <i style="color: orange;" class="fas fa-star"></i>
            <i style="color: orange;" class="fas fa-star"></i>
            <i style="color: orange;" class="fas fa-star-half-alt"></i>
</p>
    
    
</div>
<div style="width: 1000px;height: 300px;  display: grid;grid-template-columns: 30% 30% 30%;column-gap: 3%;margin-left: -10%;margin-top: 20px;">
<div style="width: 300px; height: 280px;border: 1px solid rgb(228, 216, 216); margin: auto;vertical-align: -100px;">
    <div>
        <h3 style="text-align: center; margin-top: 20px;">4.0 
            <i style="color: orange;" class="fas fa-star"></i>
            <i style="color: orange;" class="fas fa-star"></i>
            <i style="color: orange;" class="fas fa-star"></i>
            <i style="color: orange;" class="fas fa-star"></i>
            <i style="color: rgb(190, 180, 180);" class="fas fa-star"></i>
        </h3>
    </div>
    
    
    <p id="change10" style="text-align: center;font-family: Inter var, sans-serif;font-weight: 00px; font-size: 16px;color: rgba(128, 128, 128, 0.925); margin-top: 20px;">This training has been extremely beneficial to me. Also, my confidence in Python grew and I applied for internships and landed my first 3 internships in Python Django development after the training completion.</p>

    <div style="display: grid; grid-template-columns: 20% 70%;column-gap: 5%;">
        <img style="width: 50px;height: 50px;border-radius: 50%;padding-top: 10px;margin-left: 10px;" src="https://trainings.internshala.com/uploads/python/signup_page_media/feedback_givers_images/aishwarya.png" alt="">

        <div>
            <p style="vertical-align: -10px;font-size: 14px;font-weight: 600px; margin-top: 15px;">Aishwarya
                </p >

                <p style="vertical-align: -10px;font-size: 14px;font-weight: 400px;">Institution of Engineers (India)</p>
        </div>
    </div>
    </div>
    <div style="width: 300px; height: 280px;border: 1px solid rgb(228, 216, 216); margin: auto;vertical-align: -100px;">
        <div>
            <h3 style="text-align: center; margin-top: 20px;">4.0 
                <i style="color: orange;" class="fas fa-star"></i>
                <i style="color: orange;" class="fas fa-star"></i>
                <i style="color: orange;" class="fas fa-star"></i>
                <i style="color: orange;" class="fas fa-star"></i>
                <i style="color: rgb(190, 180, 180);" class="fas fa-star"></i>
            </h3>
        </div>
        
        
        <p id="change11" style="text-align: center;font-family: Inter var, sans-serif;font-weight: 00px; font-size: 16px;color: rgba(128, 128, 128, 0.925); margin-top: 20px;">I enrolled for the Python training because it provided structured content as informative modules, assesments, hands-on practice & support. I'm extremely satisfied with my experience!</p>
    
        <div style="display: grid; grid-template-columns: 20% 70%;column-gap: 5%;">
            <img style="width: 50px;height: 50px;border-radius: 50%;padding-top: 10px;margin-left: 10px;" src="https://trainings.internshala.com/uploads/python/signup_page_media/feedback_givers_images/udrasht.png" alt="">
    
            <div>
                <p style="vertical-align: -10px;font-size: 14px;font-weight: 600px;margin-top: 15px;">Udrasht
                    </p >
    
                    <p style="vertical-align: -10px;font-size: 14px;font-weight: 400px;">Govind Ballabh Pant Institute Of Engineering & Technology, Ghurdauri</p>
            </div>
        </div>
        </div>
        <div style="width: 300px; height: 280px;border: 1px solid rgb(228, 216, 216); margin: auto;vertical-align: -100px;">
            <div>
                <h3 style="text-align: center; margin-top: 20px;">5 
                    <i style="color: orange;" class="fas fa-star"></i>
                    <i style="color: orange;" class="fas fa-star"></i>
                    <i style="color: orange;" class="fas fa-star"></i>
                    <i style="color: orange;" class="fas fa-star"></i>
                    <i style="color: orange;" class="fas fa-star"></i>
                    
                </h3>
            </div>
            
            
            <p id="change12" style="text-align: center;font-family: Inter var, sans-serif;font-weight: 00px; font-size: 16px;color: rgba(128, 128, 128, 0.925); margin-top: 20px;">I developed a project through the Python Training on my own in despite not having any prior experience. The teacher cleared my doubts in no time, and the Internshala support team was also extremely helpful.</p>
        
            <div style="display: grid; grid-template-columns: 20% 70%;column-gap: 5%;">
                <img style="width: 50px;height: 50px;border-radius: 50%;padding-top: 10px;margin-left: 10px;" src="https://trainings.internshala.com/uploads/python/signup_page_media/feedback_givers_images/jincy_p_janardhanan.png" alt="">
        
                <div>
                    <p style="vertical-align: -10px;font-size: 14px;font-weight: 600px;margin-top: 15px;">Jincy P Janardhanan
                        </p >
        
                        <p style="vertical-align: -10px;font-size: 14px;font-weight: 400px;">Institute Of Engineering And Technology, University Of Calicut</p>
                </div>
            </div>
            </div>
           
</div>

<div style="margin: auto;width: 200px;height: 50px;display: flex;margin-top: 50px;padding-top: 20px;padding-left: 10px;justify-content: space-between;">

   
        <i  style="width: 20px;height: 20px; background-color: rgb(240, 234, 234);border-radius: 50%;padding: 5px;" class="fas fa-chevron-left"></i>
        <div style="display: flex;column-gap: 10px; margin-top: 7px;">
       <p style="width: 8px;height: 8px;border-radius: 50%;background-color: deepskyblue;"></p>
       <p style="width: 8px;height: 8px;border-radius: 50%;background-color: rgb(240, 234, 234);"></p>
       <p style="width: 8px;height: 8px;border-radius: 50%;background-color: rgb(240, 234, 234);"></p>
       <p style="width: 8px;height: 8px;border-radius: 50%;background-color: rgb(240, 234, 234);"></p>
       <p style="width: 8px;height: 8px;border-radius: 50%;background-color: rgb(240, 234, 234);"></p>
       <p style="width: 8px;height: 8px;border-radius: 50%;background-color: rgb(240, 234, 234);"></p>
       <p style="width: 8px;height: 8px;border-radius: 50%;background-color: rgb(240, 234, 234);"></p>
    </div>
      
        <i style="width: 20px;height: 20px; background-color: deepskyblue;border-radius: 50%;padding: 5px;margin-right: 10px;" class="fas fa-chevron-right"></i>
    
    
    <!-- <i class="fas fa-chevron-left"></i><i class="fas fa-chevron-right"></i> -->
    
</div>
<div style="width: 820px; height: 120px; margin: auto;margin-top: 50px; margin-left: 0%;">
<h1 style="text-align: center;">Have more questions?</h1>
<div style="display: flex;column-gap: 20px;">

<p style="font-size: 14px;font-weight: 800px;color: black; margin-top: 20px;">Training Prerequisites</p>
<p style="font-size: 14px;font-weight: 800px;margin-top: 20px;">Time & Mode of Delivery</p>
<p style="font-size: 14px;font-weight: 800px;margin-top: 20px;">Certificate</p>
<p style="font-size: 14px;font-weight: 800px;margin-top: 20px;">Placement Assistance</p>
<p style="font-size: 14px;font-weight: 800px;margin-top: 20px;">Payment</p>
<p style="font-size: 14px;font-weight: 800px;margin-top: 20px;">Need Further Assistance?</p>


</div>
<hr style="width: 820px; background-color: rgb(228, 216, 216);font-weight: 1px;height: .01px;display: block;margin-top: 20px;">

<div style="height: 250px;width: 820px;margin-top: 20px;">
    <div style="display: flex; justify-content: space-between;">
        <p style="margin-top: 25px;font-size: 14px;">Q. What are the prerequisites for the training? </p>
        <p style="font-size: 24px;vertical-align: top;color: dodgerblue;font-weight: 400px;margin-right: 20px;">+</p>
    </div>
    <hr style="width: 820px;color: rgb(228, 216, 216); background-color: rgb(228, 216, 216);line-height: 10px;margin-top: -20px;">
    <div style="display: flex; justify-content: space-between;margin-top: 20px;">
        <p style="margin-top: 25px;font-size: 14px;margin-top: 20px;">Q. What software/tools would be needed for the training and how can I get them? </p>
        <p style="font-size: 24px;vertical-align: top;color: dodgerblue;font-weight: 400px;margin-right: 20px;">+</p>
    </div>
    <hr style="width: 820px;color: rgba(128, 128, 128, 0.411);line-height: 10px;margin-top: -20px;">
    <div style="display: flex; justify-content: space-between;margin-top: 20px;">
        <p style="margin-top: 25px;font-size: 14px;">Do I need to have a laptop or desktop to do the training or can I do it on mobile too? </p>
        <p style="font-size: 24px;vertical-align: top;color: dodgerblue;font-weight: 400px;margin-right: 20px;">+</p>
    </div>
    <hr style="width: 820px;color: rgba(128, 128, 128, 0.411);line-height: 10px;margin-top: -20px;">
    <div style="display: flex; justify-content: space-between;margin-top: 20px;">
        <p style="margin-top: 25px;font-size: 14px;margin-top: 30px;">Q. What system configuration is needed to do this training?</p>
        <p style="font-size: 24px;vertical-align: top;color: dodgerblue;font-weight: 400px;margin-right: 20px; margin-bottom: 20px;">+</p>
    </div>
    <hr style="width: 820px;color: rgba(128, 128, 128, 0.411);line-height: 10px;margin-top: -20px;">
</div>

</div>
<div id="footer"></div>
</body>
</html>
<!-- <i style="background-color: red;"></i> -->
<script type="module">
    let value = localStorage.getItem("train");
    console.log(value)
    let check = false;
    let firstDrop = document.getElementById("firstDrop");
    let badaDiv = document.getElementById("badaDiv");
    let arrow = document.getElementsByClassName("arrow");
    let newDiv = document.getElementById("newDiv");
    firstDrop.addEventListener("click", () => {
        let fdiv = document.createElement("div");
        let fdiv2 = document.createElement("div");
            fdiv.setAttribute("id", "createwala");
            fdiv2.setAttribute("id", "createwala2");
            let a;
            let b;
             
        check = ~check;
        // badaDiv.innerHTML = "";
        fdiv.innerHTML = "";
        newDiv.innerHTML = "";
        
        if(check){
            
            b = `<i style="font-size: 15px;margin-top: 20px;;margin-right: 20px;font-weight: 300px;color: dodgerblue;" class="fas fa-chevron-up;background-color: red;"></i> <hr style="color: red;width:100px">`;
            
            fdiv.innerHTML = "";
            a = `<div style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-size: 14px;border: 1px solid rgb(207, 204, 204)">
            <ul>
                <li style="margin-top: 20px;font-size:18px;">Installation of Python</li>
                <li style="margin-top: 20px;font-size:18px;">Using the Python Interpreter IDLE</li>
                <li style="margin-top: 20px;margin-bottom: 20px;font-size:18px;">Salient Features of Python</li>
                <li style="margin-top: 20px;margin-bottom: 20px;font-size:18px;">Basic Syntax of Python</li>
            </ul>
        </div>`;
            // badaDiv.append(fdiv);
            // div.style.height = "300px";
            // badaDiv.style.height = "300px";
           
            newDiv.style.height = "200px";
            newDiv.style.border = "none";
        }else{
            a = "";
            // b = "";
            b = `<i style="font-size: 15px;margin-top: 20px;;margin-right: 20px;font-weight: 300px;color: dodgerblue;background-color: red;" class="fas fa-chevron-down" id="firstDrop"></i> <hr style="color: blue;width:100px">`;
            
            // badaDiv.remove("fdiv")
            // div.style.display = "0px";
            newDiv.style.height = "0px";
        }
        fdiv2.innerHTML = b;
        fdiv.innerHTML = a;
        newDiv.append(fdiv);
        arrow.append(fdiv2);

    // document.getElementById("badaDiv").append(fdiv);
    });


    let change = document.getElementById("change");
    change.innerHTML = `Learn ${value}`;
    let change13 = document.getElementById("change13");
    change13.innerHTML = `1+1 Offer: Get Internship & Job Preparation training FREE on purchase of Programming with ${value} training!`;
    let change1 = document.getElementById("change1");
    change1.innerHTML = `Why learn Programming with ${value}?`;
    let change2 = document.getElementById("change2");
    change2.innerHTML = `Machine Learning, AI, Web Development, Hacking, IoT, and more. ${value} is used everywhere.`;
    let change3 = document.getElementById("change3");
    change3.innerHTML = `A simple and powerful syntax makes ${value} one of the easiest languages to learn.`;
    let change4 = document.getElementById("change4");
    change4.innerHTML = `${value} is the fastest growing language according to Stack Overflow with an average fresher salary of 5 LPA+ according to Glassdoor.`;
    let change5 = document.getElementById("change5");
    change5.innerHTML = `Get certified in ${value} upon successful completion of training`;
    let change6 = document.getElementById("change6");
    change6.innerHTML = `Introduction to ${value} `;
    let change7 = document.getElementById("change7");
    change7.innerHTML = `Using Variables in ${value}`;
    let change8 = document.getElementById("change8");
    change8.innerHTML = `Basics of Programming in ${value}`;
    let change9 = document.getElementById("change9");
    change9.innerHTML = `Build the UI using PyQt, write the code in ${value} using all the concepts taught in the training and create the database for the application using SQLite`;
    let change10 = document.getElementById("change10");
    change10.innerHTML = `This training has been extremely beneficial to me. Also, my confidence in ${value} grew and I applied for internships and landed my first 3 internships in ${value} Django development after the training completion.`;
    let change11 = document.getElementById("change11");
    change11.innerHTML = `I enrolled for the ${value} training because it provided structured content as informative modules, assesments, hands-on practice & support. I'm extremely satisfied with my experience!`;
    let change12 = document.getElementById("change12");
    change12.innerHTML = `I developed a project through the  ${value} Training on my own in despite not having any prior experience. The teacher cleared my doubts in no time, and the Internshala support team was also extremely helpful.`;
    


    import trainingNav from "/scripts/trainingNavbar.js"
    document.getElementById("navBar").innerHTML = trainingNav();

    import footer from "/scripts/footer.js"
    document.getElementById("footer").innerHTML = footer()

    
</script>