body {
    font-family: "Inter", sans-serif;
    /* background-color: black; */
  }
  #rContainer {
    margin-top: 100px;
    width: 65%;
    /* border: 1px solid rgb(180, 179, 179); */
    margin-left: 17%;
    margin-right: 17%;
    margin-bottom: 100px;
  }
  #rContent {
    /* border: 1px solid black; */
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
  #rheadTitle {
    text-align: center;
  }
  #divTitle {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    /* border: 1px solid black; */
    padding-top: 20px;
    margin-top: 20px;
  }
  #divTitleText {
    font-size: 16px;
    font-weight: bold;
    line-height: 10px;
  }
  #grey {
    margin-top: 15px;
    color: #8c8c8c;
    font-size: 15px;
  }
  #location {
    margin-left: 15px;
    margin-top: 15px;
  }
  #divDuration {
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    /* border: 1px solid black; */
    display: flex;
    /* justify-content: space-evenly; */
  }
  #divStart {
    /* border: 1px solid black; */
    margin-left: 20px;
    margin-right: 50px;
    line-height: 20px;
    font-size: 15px;
    color: #303030;
  }
  #divCtc {
    /* border: 1px solid black; */
    margin-right: 50px;
    line-height: 20px;
    font-size: 15px;
    color: #303030;
  }
  #divEnd {
    /* border: 1px solid black; */
    line-height: 20px;
    font-size: 15px;
    color: #303030;
  }
  #grey1 {
    color: #8c8c8c;
    font-size: 13px;
    font-weight: 600;
  }
  #jobType {
    /* border: 1px solid black; */
    width: 120px;
    text-align: center;
    margin-left: 20px;
    border-radius: 10px;
    height: 25px;
    background-color: #f1f1f1;
    color: #565555;
    padding-top: 4px;
    margin-bottom: 20px;
  }
  #count {
    margin-left: 20px;
    margin-right: 20px;
  }
  #line {
    border-bottom: 1px solid rgb(207, 204, 204);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }
  #about {
    margin-left: 20px;
    margin-right: 40px;
    text-align: justify;
    font-size: 14px;
    color: #6b6b6b;
    line-height: 20px;
    margin-top: 20px;
  }
  #aboutText {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    margin-left: 20px;
  }
  #skillsDiv {
    /* border: 1px solid black; */
    /* display:flex; */
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 30%);
    margin-left: 20px;
    margin-top: -20px;
    max-width: 100%;
  }
  #skills {
    margin-right: 20px;
  }
  #p1 {
    font-size: 15px;
    border-radius: 10px;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    height: 30px;
    padding-top: 4px;
    background-color: #f1f1f1;
    color: #565555;
  }
  #canApply {
    margin-left: 20px;
    line-height: 25px;
    margin-top: 15px;
    font-size: 15px;
    color: #6b6b6b;
  }
  #salary {
    margin-left: 20px;
    color: #565555;
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
  }
  #button {
    margin-left: 47%;
    width: 130px;
    height: 40px;
    background-color: #0085ec;
    border-radius: 5px;
    border: #0085ec;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  #button:hover {
    background-color: #0b72c1;
    font-size: 17px;
    cursor: pointer;
  }
  #locDiv{
    margin-top: -15px;
    display: flex;
    align-items: center;

  }
  #locIcon{
    margin-top: 17px;
    width: 1%;
    margin-left: 20px;
  }
  #icon{
    font-size:18px;
    color: #9d9d9d;
  }
  #iconStart{
    font-size:16px;
    margin-right: 3px;
  }
  #img{
    width: 70px;
    height: 70px;
  }



/********************************************* Rahul Css ************************************** */
.nameandMail{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  padding-top: 5%;
  line-height: 23px;
  
}

.messageDiv:hover .messageImg{
  background-image: url(./images/message_new_hover.svg);
}
#userName{
  font-weight: 600;
  font-size: 14.5px;
}
.ratingsDiv{
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  border: 1px solid lightgray;
  height: 60px;
  border-left: none;
  border-right: none;
}
.ratingsDiv:hover{
  color: #00A5EC;
}
#starRate{
  font-size: 15px;
  color: #ffc107;
}
#chevronIcon{
  margin-left: -5px;
  font-size: 30px;
  font-weight: 100;
}
#moreOptions{
  display: flex;
  width: 100%;
  /* position: absolute; */
  justify-content: space-between;
}
#manageOptions{
  display: flex;
  width: 100%;
  /* position: absolute; */
  justify-content: space-between;
}
#moreIcon{
  font-size: 30px;
  transform: rotate(90deg);
}
#moreSubMenu{
  background-color: #fff;
  border-top: none;
  display: none;
  margin-left: 20px;
}
#manageSubMenu{
  background-color: #fff;
  border-top: none;
  display: none;
  margin-left: 40px;
}