@import url('https://rsms.me/inter/inter.css');
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


i{
    font-size: 18px;
    margin-left: 5px;
}
#navContainer{
    z-index: 1;
    position: absolute;
    /* margin-top: -8px; */
    top: 0;
    /* margin-top: 0; */
    padding: 0;
    left: 0;
    width: 100%;
    height: 75px; 
    box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);

}

#navBackround{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    margin-top: 75px;
    display: none;
}

.navBar .navLinks .links li .internshipColor:hover #navBackround{
    display: block;
    
}


nav .navBar{
    height: 100%;
    max-width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.3%;
    font-size: 14px;
    font-weight: 500;
   
    
}
nav .navBar .navLinks{
    height: 100%;
    line-height: 70px;
    
}
nav .navBar .navLinks .links{
    display: flex;
    list-style: none;

    /* *************************************** Riyaz  made chnages here********************************** */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav .navBar .navLinks .links li a{
    /* height: 100%; */
    color: rgb(10, 10, 10);
    text-decoration: none;
    white-space: nowrap;
    display: flex;
    align-items: center;
    
}
nav .navBar .navLinks .links li{
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 14px;
    
}

.navBar .navLinks .links li:hover .arrow1,
.navBar .navLinks .links li:hover .arrow2,
.navBar .navLinks .links li:hover .arrow3{
    transform: rotate(180deg);
    
    
}
.navBar .navLinks .links li:hover .fresherColor,
.navBar .navLinks .links li:hover .arrow1,
.navBar .navLinks .links li:hover .arrow2{
    color: #008BDC;
    
    
}
.navBar .navLinks .links li:hover .internshipColor,
.navBar .navLinks .links li:hover .trainingColor{
    color: #008BDC;
    border: #00A5EC;
    
}




/* For Student Registration Page */
#registerStudent{
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.navBar .navLinks .links li:hover #registerStudent{
    color: #00A5EC;
    
}
/* End */

nav .navBar .logo{
    height: 100%;
    line-height: 70px;
    
}
nav .navBar .navLinks .links li .arrow{
    height: 100%;
    width: 22px;
    text-align: center;
    color: black;
    line-height: 70px;
    
}
.navBar .navLinks .links .subMenu{
    position: absolute;
    height: 370px;
    width:220px;
    top: 72px;
    background: #fff;
    left: 0;
    line-height: 40px;
    border: 1px solid lightgray;
    /* *****************************Riyaz Made changes ******************************************* */
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    /* border-bottom: none; */
    /* border-left: none; */
    /* box-shadow: 0 0px 4px rgba(0,0,0,0.5); */
    display: none;
}


.navBar .navLinks .links .subMenuSmall{
    height: 110px;
    position: absolute;
    width: 180px;
    top: 72px;
    line-height: 30px;
    left: -35%;
    font-weight: 400;
    display: none;
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.1);
    border-top: none;
    background-color: white;
    /* *************************************************** Riyaz made changes *********************************************** */
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
}




.navBar .navLinks .links .subMenu li{
    padding: 0 0 0 0px;
}
.navBar .navLinks .links .subMenu li a{
    font-size: 14px;
    padding: 0 0 0 20px;
}

.navBar .navLinks .links li:hover body{
    box-shadow: none;
}
.navBar .navLinks .links li:hover .internshipsSubMenu{
    display: block;
}



.navBar .navLinks .links li:hover .internshipsSubMenu a{
    width: 100%;
}
.navBar .navLinks .links li:hover .trainingSubMenu {
    width: 100%;
    display: block;
    
}


.navBar .navLinks .links li .profiles .profilesSubMenu{
    height: 370px;
    position: absolute;
    margin-top: -41px;
    width: 270px;
    line-height: 35px;
    top: 0;
    left: 100%;
    overflow: auto;
    display: none;
    scroll-behavior: smooth;
}


.navBar .navLinks .links li .location .locationSubMenu a,
.navBar .navLinks .links li .categories .categoriesSubMenu a,
.navBar .navLinks .links li .profiles .profilesSubMenu a{
    color: dimgray;
    font-weight: 400;
}

.navBar .navLinks .links li .categories .categoriesSubMenu{
    height: 370px;
    position: absolute;
    top: 0;
    width: 280px;
    line-height: 35px;
    margin-top: -81px;
    left: 100%;
    overflow: auto;
    display: none;
}

.navBar .navLinks .links li .location .locationSubMenu{
    height: 370px;
    position: absolute;
    top: 0;
    width: 280px;
    line-height: 35px;
    margin-top: -1px;
    left: 100%;
    overflow: auto;
    display: none;

}
.navBar .navLinks .links li .specialization:hover .specializationName,
.navBar .navLinks .links li .business:hover .businessName,
.navBar .navLinks .links li .core:hover .coreName,
.navBar .navLinks .links li .dataScience:hover .dataScienceName,
.navBar .navLinks .links li .design:hover .designName,
.navBar .navLinks .links li .creative:hover .creativeName,
.navBar .navLinks .links li .language:hover .languageName,
.navBar .navLinks .links li .career:hover .careerName,
.navBar .navLinks .links li .architecture:hover .architectureName,
.navBar .navLinks .links li .programming:hover .programmingName{
    width: 100%;
    color: #008BDC;
    margin-right: 20px;
    background-color: lightcyan;
    border-radius: 0 20px 20px 0;


}



.navBar .navLinks .links li .categories:hover .categoryName,
.navBar .navLinks .links li .location:hover .locationName,
.navBar .navLinks .links li .profiles:hover .profileName{
    width: 100%;
    color: #008BDC;
    background-color: lightcyan;
    border-radius: 0 20px 20px 0;
    margin-right: 20px;
}


/* .navBar .navLinks .links li .profiles:hover .internshipsSubMenu .locationSubMenu{
    display: none;
} */

.navBar .navLinks .links li .programming .programmingSubMenu a,
.navBar .navLinks .links li .business .businessSubMenu a, 
.navBar .navLinks .links li .core .coreSubMenu a,
.navBar .navLinks .links li .dataScience .dataScienceSubMenu a,
.navBar .navLinks .links li .design .designSubMenu a,
.navBar .navLinks .links li .creative .creativeSubMenu a,
.navBar .navLinks .links li .language .languageSubMenu a,
.navBar .navLinks .links li .career .careerSubMenu a,
.navBar .navLinks .links li .architecture .architectureSubMenu a
{
    width: 200px;
    font-weight: 400;
    color: dimgray;
}



.navBar .navLinks .links li .programming .programmingSubMenu a:hover,
.navBar .navLinks .links li .business .businessSubMenu a:hover, 
.navBar .navLinks .links li .core .coreSubMenu a:hover,
.navBar .navLinks .links li .dataScience .dataScienceSubMenu a:hover,
.navBar .navLinks .links li .design .designSubMenu a:hover,
.navBar .navLinks .links li .creative .creativeSubMenu a:hover,
.navBar .navLinks .links li .language .languageSubMenu a:hover,
.navBar .navLinks .links li .career .careerSubMenu a:hover,
.navBar .navLinks .links li .architecture .architectureSubMenu a:hover
{
    color: #008BDC;
}


.navBar .navLinks .links li .location .locationSubMenu a:hover,
.navBar .navLinks .links li .categories .categoriesSubMenu a:hover,
.navBar .navLinks .links li .profiles .profilesSubMenu a:hover{
    color: #00A5EC;
}

.navBar .navLinks .links li .profiles:hover .profilesSubMenu,
.navBar .navLinks .links li .categories:hover .categoriesSubMenu,
.navBar .navLinks .links li .location:hover .locationSubMenu{
    display: block;
}
.navBar .navLinks .links li .business .businessSubMenu, 
.navBar .navLinks .links li .core .coreSubMenu,
.navBar .navLinks .links li .dataScience .dataScienceSubMenu,
.navBar .navLinks .links li .design .designSubMenu,
.navBar .navLinks .links li .creative .creativeSubMenu,
.navBar .navLinks .links li .language .languageSubMenu,
.navBar .navLinks .links li .career .careerSubMenu,
.navBar .navLinks .links li .architecture .architectureSubMenu,
.navBar .navLinks .links li .programming .programmingSubMenu
{
    height: 370px;
    width: 300px;
    position: absolute;
    display: block;
    top: 0;
    margin-top: -1px;
    left: 100%;
    display: none;
    overflow: auto;
}
.navBar .navLinks .links li .architecture .architectureSubMenu{
    margin-top: -142.8%;
}
.navBar .navLinks .links li .career .careerSubMenu{
    margin-top: -125%;
}
.navBar .navLinks .links li .language .languageSubMenu{
    margin-top: -107.3%;
}
.navBar .navLinks .links li .creative .creativeSubMenu{
    margin-top: -89.5%
}
.navBar .navLinks .links li .design .designSubMenu{
    margin-top: -71.5%;
}
.navBar .navLinks .links li .dataScience .dataScienceSubMenu{
    margin-top: -53.7%;
}
.navBar .navLinks .links li .core .coreSubMenu{
    margin-top: -35.9%;
}
.navBar .navLinks .links li .business .businessSubMenu{
    margin-top: -18.3%;
}
.navBar .navLinks .links li .business:hover .businessSubMenu, 
.navBar .navLinks .links li .core:hover .coreSubMenu,
.navBar .navLinks .links li .dataScience:hover .dataScienceSubMenu,
.navBar .navLinks .links li .design:hover .designSubMenu,
.navBar .navLinks .links li .creative:hover .creativeSubMenu,
.navBar .navLinks .links li .language:hover .languageSubMenu,
.navBar .navLinks .links li .career:hover .careerSubMenu,
.navBar .navLinks .links li .architecture:hover .architectureSubMenu,
.navBar .navLinks .links li .programming:hover .programmingSubMenu{
    display: block;
}


.navBar .navLinks .links li:hover .registerSubMenu {
    display: block;
}

.navBar .navLinks .links li:hover .registerSubMenu li a{
    margin-top: 15px;
    margin-left: 10px;
}

.navBar .navLinks .links li .registerSubMenu li a:hover {
    color: #00A5EC;
}

#register:hover{
    background-color: #006ad2;
    transition: .3s;
}










::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 3px;

}
  

/* for Login Page  */
#emailMessage,
#passMessage{
    display: none;
}

#alertImg{
    width: 13px;
    height: 13px;
    margin-right: 2px;
    margin-left: 5px;
}

#emailNameAlert,
#passNameAlert{
    font-size: 12px;
    display: flex;
    margin-top: 5px;
    color: #dc3545;
    font-weight: 500;
}


#register{
    background: #00A5EC;
    border: none;
    width: 110px;
    height: 32px;
    border-radius: 3px;
    color: #fff;
    display: flex;
    font-size: 14px;
    padding-top: 8%;
    padding-left: 15%;
    font-weight: 600;
}

#register #register_icon{
    margin-left: 5px;
    font-size: 18px;
}
#navbarLogin{
    height: 32px;
    width: 80px;
    font-size: 14px;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid dodgerblue;
    color: dodgerblue;
    border-radius: 3px;
}

#navbarLogin:hover{
    transition: .2s;
    cursor: pointer;
    box-shadow: rgba(0,100,209,0.2);
    border:1px solid rgb(0,100,209);
    color:rgb(0,100,209) ;
    
}
#navbarOffers{
    background-color: darkorange;
    line-height: 20px;
    font-size: 12px;
    margin-left: 5px;
    width: 70px;
    justify-content: center;
    text-align: center;
    border-radius: 3px;
    color: #fff;

}
#newOffers{
    background-color: darkorange;
    line-height: 20px;
    font-size: 12px;
    padding-right: 6%;
    margin-left: 16%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    color: #fff;
}
#searchIcon{
  
    height: 50px;
    width: 500px;
    border: 0.5px solid rgb(188, 186, 186);
    padding-left: 7px;
    border-right: none;
    text-align: left;
}
#searchIcon:hover{
    border: 0.5px solid #00a5ec;
}

#searchIcon::placeholder{
    font-size: 16px;
   
}
#iconSearch{
    border: 0.5px solid gray;
    height: 50px;
    margin-top:30px;
    width: 50px;
    background-color: #00a5ec;
    border-radius: 3px;
    border-left: 0;
    margin-left: -35px;
    /* margin-left: 5px; */
}
#iconsSearch{
    padding: 13px;
    font-size:26px;
    padding-left:6px;

}
/* 
#corosuelDiv{
} */
