#mainBody {
  margin-top: 75px;
  box-sizing: border-box;
  padding: 0;
  background-color: #f8f9fa;
  font-family: "Inter", sans-serif;
}

.detailsDiv p:first-child {
  margin-bottom: 12px;
}

#mainContainer {
  width: 80%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  /* position: relative; */
  display: flex;
  justify-content: space-around;
}

/* #leftContainer,#rightContainer{
  height: 600px;
} */

#leftContainer {
  width: 316px;
  height: 600px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}

#rightContainer {
  width: 650px;
  margin: 0;
  padding: 0;
}
/* Left Container styling */

#filterHead {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

#preferenceCheck {
  display: flex;
  margin-bottom: 20px;
}

#matchingPreferenceJob {
  width: 20px;
  height: 20px;
}

#preferenceCheck > p {
  margin: 0;
  margin-left: 5px;
}

#leftContainer label {
  font-weight: 500;
  font-size: 14px;
  color: #333;
}

#locationInput input,
#categoryInput input {
  width: 250px;
  height: 30px;

  margin-top: 8px;
  margin-bottom: 20px;
  border: none;
  border: 1px solid rgb(206, 205, 205);
  border-radius: 2px;
  padding: 5px;
}

.circle1,
.circle4,
.circle3,
.circle2 {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #666;
  border-radius: 50%;
  position: absolute;
  top: -1.7px;
  left: -3px;
}
.line1,
.line3,
.line4,
.line2 {
  content: "";
  width: 24px;
  height: 12px;
  background-color: #b2b2b2;
  border-radius: 34px;
  position: absolute;
}

.slideDiv {
  width: 40px;
  height: 35px;
  position: relative;
  cursor: pointer;
}

#slideIncludeIntern,
#slideRemote {
  display: flex;
  justify-content: space-between;
}

#resetLink {
  color: #008bdc;
  text-decoration: none;
}

#uniSearchDiv {
  display: flex;
  justify-content: center;
}

#uniSearch {
  width: 200px;
  height: 35px;
  border: none;
  border: 1px solid #b2b2b2;
  border-right: none;
  padding: 4px 10px;
}

#uniSearchB {
  width: 42px;
  border: none;
  background-color: #008bdc;
  border-radius: 0px 4px 4px 0px;
}

/* card Styling */
#card {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  border: #eee 1px solid;
  margin-bottom: 15px;
  color: #888;
}

#cardHeading {
  display: flex;
  justify-content: space-between;
}

#title,
#brand {
  margin: 0;
  padding: 0;
}

#title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}

#brand {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
}

#location {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 30px;
  color: #222222;
}

#cardDetails {
  display: flex;
}

.detailsDiv {
  width: 160px;
}

#cardFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#type {
  border: 1px solid #fff;
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 20px;
  font-size: 14px;
}

#viewDetailsLink {
  color: #008bdc;
  font-size: 15px;
}

#startD1,
#ctc1,
#applyBy1 {
  font-size: 14px;
}

#startD2,
#ctc2,
#applyBy2 {
  font-size: 14px;
  color: #222222;
}

#viewDetailsLink {
  cursor: pointer;
}

#rangeInput {
  width: 100%;
}
